---
layout: default
description: Tiny Factory Documentation
id: home
---
<div id="sidebar" class="mousescroll">
  <div class="side-logo"><a href="{{site.url}}"><img src="{{site.url}}/images/logo.png" alt=""></a></div>
  <div class="item">
    <h3>Documentation</h3>
    <ul>
      <li><a href="{{site.baseurl}}">Home</a></li>
      {% for page in site.html_pages %}
      {% if page.title %}
        <li><a href="{{site.url}}{{page.url}}">{{ page.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div><!-- item -->
  <!--div class="item categories">
    <h3>Categories</h3>
    <ul> 
        {% for category in site.categories %} 
          <li><a href="{{site.url}}/archive.html#{{ category | first }}">{{ category | first }}</a></li> 
        {% endfor %} 
    </ul> 
  </div -->
  <div class="item">
    <h3>Newest Docs</h3>
    <ul>
      {% for post in site.posts limit:8 %}
        <li><a href="{{site.url}}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div><!-- item -->
</div><!-- sidebar -->

  <article>
      <div class="entry">
      <div class="archive-list">
        {% for category in site.categories %} 
        <div class="col">
          <h2 id="{{ category | first }}">{{ category | first }}</h2>
            <ul>
              {% for posts in category %}
                {% for post in posts %} 
                  <li><a href="{{site.url}}{{ post.url }}">{{ post.title }}</a> </li>
                {% endfor %} 
              {% endfor %} 
            </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </article>