@import compass/reset
@import compass/css3
@import compass/typography
@import compass/utilities
@import var
@import mixins/queries
@import mixins/syntax

@font-face
	font-family: "Icons"
	src: $icon-eot, $icon-woff, $icon-svg, $icon-ttf 
	font-weight: normal
	font-style: normal

body
	background: $body
	+regular
	font-size: 13px
	line-height: 1.5em
	color: $text

header
	max-width: 790px
	margin: 40px auto 0
	text-align: center

	+desktop-and-up
		z-index: 3
		position: fixed
		left: 0
		top: 0			

#logo
	width: 25%
	
	img
		+transition(all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940))
		max-width: 70%

	a
		border-bottom: none !important

		&:hover img
			+opacity(0.8)
			+rotate(-12deg)
			+transform-style(preserve3d)
	
	+mobile-only
		width: 30%
		margin: 0 auto 50px

		img
			max-width: 100%

	+desktop-and-up
		display: none

h2
	font-weight: 800
	font-size: 24px
	text-transform: capitalize
	+gotham-bold
	line-height: 1.6em

h3
	+gotham-light
	font-weight: normal
	color: $heading
	font-size: 22px
	line-height: 1.8em

h4
	font-weight: 800
	font-size: 18px
	text-transform: capitalize
	+gotham-bold
	line-height: 1.6em

a
	text-decoration: none
	color: $text
	+transition(0.1s ease-in-out all)
	border-bottom: 1px solid transparent

	&:hover
		color: $heading
		border-bottom: 1px solid $text

p
	line-height: 1.7em

	code
		color: $red
		padding: 4px 6px
		border: 1px solid darken($body, 8%)
		+border-radius(2px)
		background: darken($body, 2%)
		font-family: monospace
		font-size: 11px

strong
	+bold

.mobile-nav
	display: none

#container
	margin: 40px auto 0

	+desktop-and-up
		width: 72%
		margin-left: 26%

		&.single
			width: 90% !important
			margin-left: 0 !important

		&.page .entry
			width: 90%

	+tablet-only
		max-width: 820px

	+mobile-only
		margin: 0 auto

		&.single
			margin-top: 25px

	#sidebar, #sidebar_ns
		width: 25%
		text-align: right
		border-right: 1px solid darken($body, 8%)
		padding-right: 30px
		float: left
		display: inline

		+mobile-only
			display: none !important

		+tablet-portrait-and-below

			.side-logo
				display: none

		+tablet-landscape-and-below

			.side-logo
				display: none

		+desktop-and-up
			float: none
			display: inline
			position: fixed
			left: 0
			top: 0
			height: 100%
			width: 22%
			padding-right: 0
			background: darken($body, 3%)
			color: #fff

			&.mousescroll
				overflow: hidden

				&:hover
					overflow-y: scroll

			.side-logo
				margin: 30px 30px 0 0

				img
					+transition(all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940))

				a
					border-bottom: none !important

					&:hover img
						+opacity(0.8)
						+rotate(-12deg)
						+transform-style(preserve3d)
				
			h3
				color: $red
				padding: 0 30px 0 0

			.item

				a
					display: block
					height: 100%
					border-bottom: none
					padding: 5px 30px 5px 25px

					&:hover
						border-bottom: none
						background: darken($body, 5%)
						color: $red

				&:first-child
					margin-top: 200px !important

			.github-buttons
				margin-right: 30px

		.item	
			margin: 20px 0 0

			&:first-child
				margin: -7px 0 0

			&.categories
	
				ul li a
					text-transform: capitalize

		ul li
			margin: 3px 0

	.articles
		float: left
		display: inline
		padding-left: 30px
		width: 67%

		+desktop-and-up
			margin-left: 15%
			float: none
			display: static
			padding-left: none
			width: auto
			position: relative
			top: 50px

			a
				font-size: 27px
				line-height: 1.5em

		+mobile-only
			padding: 10px !important
			margin: 0
			width: 95% !important
			background: darken($body, 3%)

		li
			+gotham-medium
			font-size: 22px
			line-height: 1.4em
			width: 95%
			margin: 15px 0
			text-shadow: 0px 1px #fff

			+mobile-only
				padding: 10px 0
				margin: 10px 0
				display: block
				border-bottom: 1px solid darken($body, 5%)
				+regular
				font-size: 15px

			&:first-child
				margin: 0 0

			span
				float: right
				letter-spacing: 3px
				font-size: 13px
				padding: 0 15px
				position: relative
				left: 0
				+transition(0.5s ease-in all)
				+opacity(0)
				+gotham-medium

				+mobile-only
					+opacity(1)
					+transition(none)
					font-size: 10px
					color: darken($body, 20%)

		a
			border-bottom: none
			display: block


			&:hover
				border-bottom: none
				color: $red

				span
					+transition(0.1s ease-out all)
					+opacity(1)
					color: $text

			+mobile-only
				border-bottom: none
				display: block
				color: darken($heading, 15%)

				&:hover
					border-bottom: none
					color: $red

					span
						position: relative
						left: 0 !important
						+transition(0)
						+opacity(1)

	.entry
		padding-left: 30px
		float: left
		display: inline
		width: 67%
		color: #333
		margin-bottom: 250px

		.col ul li
			margin-left: 0 !important
			list-style: none !important

		a
			color: lighten($red, 10%)
			+bold

		+desktop-and-up
			width: 98%
			margin-top: 50px

		// +tablet-portrait-only
		// 	width: 60%

		+mobile-only
			width: 100%
			padding: 10px !important

		p
			margin: 20px 0

		li
			list-style: disc
			margin-left: 30px

			p
				margin: 0 !important

		img
			max-width: 100%
			+border-radius(2px)

		ol
			list-style: decimal
			margin-left: 18px

			li
				margin: 20px 0

			ul
				margin-left: 15px

				li
					list-style: disc
					color: lighten($text, 1%)

					code
						font-size: 12px
						font-family: "Monaco", "Courier New", monospace
						color: $red
						padding: 4px 6px
						border: 1px solid darken($body, 15%)
						+border-radius(2px)
						background: darken($body, 2%)


		h1
			font-size: 32px
			+gotham-light
			margin-bottom: 20px
			border-bottom: 1px solid darken($body, 8%)
			line-height: 1.6em

			+mobile-only
				line-height: 1.2em
				font-size: 26px

			+tablet-portrait-only
				line-height: 1.2em

	.content
		margin-top: 25px
		line-height: 25px

		a img
			vertical-align: bottom

.highlight
	font-family: "Monaco", monospace !important
	font-size: 12px !important
	overflow-y: scroll

li div.highlight
	padding: 20px 20px 0 !important

.archive-list
	overflow: hidden

	.col
		margin-bottom: 20px
		float: left
		width: 265px
		padding: 15px
		background: darken($body, 4%)
		+border-radius(3px)



		+tablet-landscape-only
			width: 465px
		
		+tablet-landscape-and-below
			width: 95%
			margin-right: 10px

		+mobile-only
			width: 350px

		h2
			border-bottom: 1px solid lighten($text, 35%)
			line-height: 1em
			margin-bottom: 10px

	.archive-date
		position: relative
		left: 15px
		color: darken($body, 15%)

.meta
	margin-top: 50px
	+gotham-medium

	a
		font-family: "proxima-nova", sans-serif !important

		&::before
			font-family: "Icons" !important
			font-weight: normal

	h1
		+gotham-light
		font-size: 35px
		border-bottom: 1px solid $text
		line-height: 1.2em
		margin-bottom: 20px

	.gravatar
		float: left
		diplay: inline
		margin-right: 15px
		+border-radius(5px !important)

	.author
		font-size: 20px
		+gotham-medium
		display: block

	.website
		border-bottom: none
		position: relative !important
		top: 2px !important
		font-size: 14px !important

		&:hover
			border-bottom: none !important
			color: darken($red, 15%) !important

	.profiles
		margin-top: 7px
	
		li
			+inline-block
			margin-right: 20px
			color: #333333
			margin-left: 0 !important
			
			a
				font-size: 15px !important
				font-weight: 400 !important
				color: #333 !important
				border-bottom: none

				&:hover
					border-bottom: none !important
					color: $red !important
	
			&.twitter::before
				content: "4"
				font-family: "Icons" !important
				font-weight: normal
				font-size: 22px
				color: #333333
				position: relative
				top: 2px
				padding-right: 2px

			&.dribbble::before
				content: "3"
				font-family: "Icons" !important
				font-weight: normal
				font-size: 22px
				color: #333333
				position: relative
				top: 2px
				padding-right: 2px

			&.github::before
				content: "2"
				font-family: "Icons" !important
				font-weight: normal
				font-size: 22px
				color: #333333
				position: relative
				top: 2px
				padding-right: 2px
	

// =============== Mobile =============== //

+mobile-only

	.mobile-band
		background: $red
		color: #fff
		+gotham-bold
		font-size: 11px
		text-transform: uppercase
		display: block
		padding: 24px 0 24px 10px

		a
			color: #fff
			border-bottom: none !important
			padding: 10px 0
			margin-right: 8px

			&:last-child
				margin-right: 0 !important

	.mobile-nav
		display: block
		text-align: left

		div
			margin-top: 25px

			&:first-child
				margin-top: 0

		ul
			display: none
			margin-top: 20px

		li
			display: block
			padding: 0 8px
			background: darken($red, 10%)
			+border-radius(2px)
			margin: 5px 0
			width: 91%

			a
				display: block
				border-bottom: none !important

				&:hover
					border-bottom: none !important

.masonry, .masonry .masonry-brick
	+transition(all 500ms cubic-bezier(0.000, 0.160, 0.070, 0.995))

.masonry
	-webkit-transition-property: height, width
	-moz-transition-property: height, width
	-ms-transition-property: height, width
	-o-transition-property: height, width
	transition-property: height, width

.masonry, .masonry-brick
	-webkit-transition-property: left, right, top
	-moz-transition-property: left, right, top
	-ms-transition-property: left, right, top
	-o-transition-property: left, right, top
	transition-property: left, right, top

::selection
	background: $red
	color: #fff
	text-shadow: 0px 1px darken($red, 20%)

::-moz-selection
	background: $red
	color: #fff
	text-shadow: 0px 1px darken($red, 20%)

.jspContainer
	overflow: hidden
	position: absolute

.jspPane
	position: absolute
	// width: auto !important // Prevents sidebar from shifting when scrollbar renders.

.jspVerticalBar
	position: absolute
	top: 0
	right: 0
	width: 8px
	height: 100%

.jspHorizontalBar
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	height: 16px

.jspVerticalBar *, .jspHorizontalBar *
	margin: 0
	padding: 0

.jspCap
	display: none

.jspHorizontalBar .jspCap
	float: left

.jspTrack
	background: #d7d7d7
	position: relative

.jspDrag
	background: #bf2e1a
	position: relative
	top: 0
	left: 0
	cursor: pointer
	+border-radius(5px)

.jspHorizontalBar
	
	.jspTrack, .jspDrag
		float: left
		height: 100%

.jspArrow
	background: #50506d
	text-indent: -20000px
	display: block
	cursor: pointer
	
	&.jspDisabled
		cursor: default
		background: #80808d

.jspVerticalBar .jspArrow
	height: 16px

.jspHorizontalBar .jspArrow
	width: 16px
	float: left
	height: 100%

.jspVerticalBar .jspArrow:focus
	outline: none

.jspCorner
	background: #eeeef4
	float: left
	height: 100%

* html .jspCorner
	margin: 0 -3px 0 0