// ========== Colors ========== //

$body: #f3f3f3
$text: #707070
$heading: #333
$red: #be2d1f

// ========== Fonts ========== //

@mixin regular
	font-family: "Sanuk Regular", "Georgia", sans-serif
	font-weight: normal

@mixin bold
	font-family: "Sanuk Bold", "Georgia", sans-serif
	font-weight: normal

@mixin gotham-light
	font-family: "Gotham Light", sans-serif
	font-weight: normal

@mixin gotham-book
	font-family: "Gotham Book", sans-serif
	font-weight: normal

@mixin gotham-medium
	font-family: "Gotham Medium", sans-serif
	font-weight: normal

@mixin gotham-bold
	font-family: "Gotham Bold", sans-serif
	font-weight: normal

@mixin gotham-ultra
	font-family: "Gotham Ultra", sans-serif
	font-weight: normal