<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1;"/>
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="screen" href="css/screen.css" type="text/css" />
    {% if site.feedburner %}
    <link href="http://feeds.feedburner.com/{{ site.feedburner.id }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
    
    {% endif %}
    {% if site.google_analytics %}
    <!-- google analytics async -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics.account }}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
  </head>
  <body>
      <header>
        <div id="logo">
          <a href="{{site.baseurl}}"><img src="{{site.baseurl}}images/logo.png" alt="Tiny Factory"/></a>
        </div><!-- logo -->
  
        <nav class="mobile-nav">
          <div class="mobile-band">
            {% for page in site.html_pages %}
            {% if page.title %}
              <a href="{{site.url}}{{page.url}}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
            <a class="category" href="#">Categories</a>
            <ul>
              {% for category in site.categories %} 
                <li><a href="{{site.url}}/archive.html#{{ category | first }}">{{ category | first }}</a></li> 
              {% endfor %}
            </ul>
          </div>
        </nav>
      </header>
      <div id="container">
            {{ content }}
      </div>

      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <script type="text/javascript">
        $('a.category').click( function() {
          $('.mobile-band ul').slideToggle(350);
          return false;
        });
      </script>
  </body>
</html>
